body{
   background-color: #ebe0e0;
  margin: 0;
}
img{
  height:200px;
  width:100% ;
}
h2{
  color: ;
  margin: 10px;
}
a{
   text-decoration: none;
}
div{
  width: 80%;
  border: 1px solid black;
  float: left ;
  margin: 10px;
}